.toggleContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.practicePlanHeaders{
    color: #232B2B;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.practicePlanHeaders h1 {
    margin-right: 20px;
}