.loginTitle {
    color:#EE4E34;
    text-align: center;
    margin: 50px auto;
    max-width: 900px;
    font-family: 'Inter', sans-serif;
}

.resetDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}