body {
    background-color: #F8F1F1;
}

.pageTagLine {
    color: #025464;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 875px;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    margin-top: -15px;
    font-size: 25px;
}

.mainFeatures {
    color:#025464;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;
    font-family: 'Inter', sans-serif;
}

li {
    font-size: 25px;
    list-style: none;
    padding-top: 30px;
    text-align: center;
}

.tagButtonDiv {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}

.getStarted {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #025464;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}
